/* Styling for the chat window */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  border: 1px solid #000000;
  border-radius: 20px;
  overflow: hidden;
}

/* Styling for the chat header */
.chat-header {
  background-color: #2e91fa;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  
}

/* Styling for the chat body */
.chat-body {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

/* Styling for individual chat messages */
.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 80%;
  padding: 4px;
  border-radius: 20px;
  margin-bottom: 5px;
}

#you {
  align-self: flex-end;
  background-color: #2e91fa;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#other {
  align-self: flex-start;
  background-color: rgb(203, 203, 203);
  font-family: 'Montserrat', sans-serif;
}

/* Styling for the message content */
.message-content {
  margin-bottom: 1px;
  font-size: 20px;
}

/* Styling for the message metadata (time and owner) */
.message-information {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  color: #ffffff;
}

/* Styling for the chat footer */
.chat-footer {
  display: flex;
  padding: 10px;
}

/* Styling for the input field and button in the chat footer */
input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2e91fa;
}
